<h1>Welcome to Beer Club</h1>
<h2>New Beers</h2>
<ul>
<% Beer.new_to_beer_club.each do |beer| %>
<li><%= beer.name %></li>
<% end %>
</ul>
<br>

<% if @user && @user.errors.any? %>
  <div id="error_explanation">
    <% @user.errors.messages.each do |msg| %>
      <%= msg[1].first %>
    <% end %>
  </div>
  <br>
<% end %>

<%= form_tag ({controller: 'sessions', action: 'login', method: 'post'}) do %>
   <%= label_tag "Username:" %>
   <%= text_field_tag :username %><br />
   <%= label_tag "Password:" %>
   <%= password_field_tag :password %><br />
   <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
   <%= submit_tag "Login" %>
<% end %>
<%# <% link_to('Log in with Facebook!', '/auth/facebook') %>
<%= button_tag(:type => 'button') do %>
<%= link_to('Log in with GitHub', '/auth/github') %><br />
<% end %><br />
<%= button_tag(:type => 'button') do %>
  <% link_to "Create an Account", new_user_path, { :class=>"button_link" } %>
<% end %>
