<h1>Hello, <%= @user.username %></h1>
<h3>Beer Cred: <%= @user.status %></h3>
<div class="user-show-menu">

<h2><%= link_to "Write a New Review", new_user_review_path(@user) %></h2>

<h2><%= link_to "Community Reviews", reviews_path %></h2>

<h2><%= link_to "See Your Reviews", user_reviews_path(@user), id: "#{@user.id}", class: "user-reviews-link" %> </h2>

<ol id=<%= current_user.id %> class="user-reviews-box">

</ol>

<h2><%= link_to "See Your Medals", user_medals_path(@user) %></h2>

<h2><%= link_to "Beers", beers_path %></h2>

</div>

<%= button_to "Log Out", logout_path %>

<p><%= button_tag(:type => 'button') do %>
  <%= link_to 'Delete Account',
                       user_path(@user),
                       method: :delete,
                       data: { confirm: 'Are you sure?' } %>
                       <% end %></p>
