<h2>Beer Details:</h2>
<ul>
  <li><p><%= b.label :name %>
  <%= b.text_field :name %></p></li>
  <li><p><%= b.label :style %>
  <%= b.text_field :style %></p></li>
  <li><p><%= b.label :brewery %>
  <%= b.text_field :brewery %>
  <%= b.label :country %>
  <%= b.country_select :country, { include_blank: true } %></p></li>
  <li><p><%= b.label :abv, 'ABV' %>
  <%= b.number_field :abv, step: :any %></p></li>
  </ul>
  <%= hidden_field_tag "user_id", current_user.id %>
