<h1><%= @beer.name %></h1>
<ul>
  <li>Brewed By: <%= @beer.brewery %></li>
  <li>Style: <%= @beer.style %></li>
  <li>Country: <%= @beer.country %></li>
  <li>ABV: <%= @beer.abv %></li>
</ul>
<%= button_tag(:type => 'button') do %>
  <%= link_to "Reviews", beer_reviews_path(@beer) %>
<% end %>
