<h1>Write a Review</h1>

<% if @review.errors %>
<%= @review.errors[:name_error].first %>
<% end %>

<%= form_for @review do |f| %>
<%= render :partial => "form", :locals=>{:f=>f} %>
  <%= f.fields_for :beer, @beer = Beer.new do |b| %>
  <%= render :partial => "beers/form", :locals=>{:b=>b} %>
  <% end %>
<% end %>
