<h1>New Review</h1>
<ul>
  <% if review_errors %>
  <% review_errors.each do |msg| %>
    <li><em><%= msg.upcase %></em></li>
    <% end %>
  <% end %>
</ul>
<%= form_for @review, :url => {:action => "create"} do |f| %>
<%= render :partial => "form", :locals=>{:f=>f} %>
  <%= f.fields_for :beer, review_beer do |b| %>
  <%= render :partial => "beers/form", :locals=>{:b=>b} %>
  <% end %>
  <%= f.submit 'Submit' %>
<% end %>
