<h1>New Review</h1>
<%= form_for @review, :url => {:action => "create"} do |f| %>
<%= render :partial => "form", :locals=>{:f=>f} %>
  <%= f.fields_for :beer, Beer.new do |b| %>
  <%= render :partial => "beers/form", :locals=>{:b=>b} %>
  <% end %>
  <%= f.submit 'Submit' %>
<% end %>
