<div style="display: flex; justify-content: space-around">
  <u><h2>Past Reviews</h2></u>
</div>

<div style="display: flex; justify-content: space-around">
  <ol id="<%= current_user.id %>" class="review-index-box">
  </ol>
</div>

<ul>
  <% if review_errors %>
  <% review_errors.each do |msg| %>
    <li><em><%= msg.upcase %></em></li>
    <% end %>
  <% end %>
</ul>

<%= form_for @review, :url => {:action => "create"} do |f| %>
<%= render :partial => "form", :locals=>{:f=>f} %>
  <%= f.fields_for :beer, review_beer do |b| %>
  <%= render :partial => "beers/form", :locals=>{:b=>b} %>
  <% end %>
  <%= f.submit 'Submit', class: 'form-submit-button' %>
<% end %>
