<!DOCTYPE html>
<html>
  <head>
    <title>BeerClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
      <br>
      <%= render :partial => "application/footer" unless on_user_homepage? || logged_out? %>
    </footer>
  </body>
</html>
